body {
	border:10px dashed black;
	background-color:#00FF00;
}

div
{
	margin-top: 20px:
	margin-bottom: 20px;
	Margin-left: 10px;
	margin-right: 10px;
	border:10px solid black;
}
img
{float:right;
}

.header {
	background-color:#F1F1F1;
	text-align:center;
	padding:20px;
}
.topnav {
	overflow:hidden;
	background-color:#F1F1F1;
}
.topnav a {
	float:left;
	display:block;
	color:FF0000;
	text-align:center;
	padding:14px;
	text-decoration:none;
}

	